<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Group Classes - My Gym</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../style/index.css" />
    <script
      src="https://kit.fontawesome.com/b9236ae426.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar__container">
        <a href="/" id="navbar__logo"><i class="fas fa-dumbbell"></i>My Gym</a>
        <div class="navbar__toggle" id="mobile-menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <ul class="navbar__menu">
          <li class="navbar__item">
            <a href="../index.html" class="navbar__links">Home</a>
          </li>
          <li class="navbar__item">
            <a href="about_us.html" class="navbar__links">About</a>
          </li>
          <li class="navbar__item">
            <a href="services.html" class="navbar__links">Services</a>
          </li>
          <li class="navbar__item">
            <a href="pricing.html" class="navbar__links">pricing</a>
          </li>
          <li class="navbar__item">
            <a href="contact_us.html" class="navbar__links">contact</a>
          </li>
          <li class="navbar__btn">
            <a href="sign_up.html" class="button">sign up</a>
          </li>
        </ul>
      </div>
    </nav>

    <section class="group-classes">
      <div class="container">
        <h2>Group Classes</h2>
        <p>
          Our gym offers a variety of group fitness classes that cater to
          different fitness levels and interests. Our experienced instructors
          will guide you through each class to help you achieve your fitness
          goals.
        </p>
        <h3>Aerobics</h3>
        <p>
          Our aerobics classes are designed to get your heart pumping and your
          body moving. We offer a range of aerobics classes, including
          high-impact and low-impact options, to suit your needs.
        </p>
        <h3>Yoga</h3>
        <p>
          Our yoga classes are a great way to improve your flexibility, balance,
          and mental clarity. We offer a range of yoga classes, including Hatha,
          Vinyasa, and Restorative, to suit your needs.
        </p>
        <h3>Zumba</h3>
        <p>
          Our Zumba classes are a fun and energetic way to get fit. Our
          certified instructors will guide you through each routine, which
          combines dance and fitness moves to help you burn calories and improve
          your cardiovascular health.
        </p>
        <h3>Cycling</h3>
        <p>
          Our cycling classes are a great way to get a cardio workout while
          improving your leg strength and endurance. Our bikes are adjustable to
          suit your needs, and our instructors will guide you through each class
          to help you achieve your goals.
        </p>
      </div>
    </section>
    <!-- footer section -->
    <div class="footer__container">
      <div class="footer__links">
        <div class="footer__link--wrapper">
          <div class="footer__link--items">
            <h2>About</h2>
            <a href="/">Gym</a>
            <a href="/">Diet</a>
            <a href="/">Investments</a>
            <a href="/">Need an instructor</a>
          </div>
          <div class="footer__link--items">
            <h2>Support</h2>
            <a href="/">Comment</a>
            <a href="/">Donate</a>
            <a href="/">Advertise</a>
            <a href="/">Sponsorships</a>
          </div>
        </div>
        <div class="footer__link--wrapper">
          <div class="footer__link--items">
            <h2>Become</h2>
            <a href="/">developer</a>
            <a href="/">Ambassador</a>
            <a href="/">Agency</a>
            <a href="/">Influencer</a>
          </div>
          <div class="footer__link--items">
            <h2>Contact</h2>
            <a href="/">Instagram</a>
            <a href="/">Facebook</a>
            <a href="/">Youtube</a>
            <a href="/">Twitter</a>
          </div>
        </div>
      </div>
    </div>
    <div class="social__media">
      <div class="social__media--wrap">
        <div class="footer__logo">
          <a href="/" id="footer__logo"
            ><i class="fas fa-dumbbell"></i>My Gym</a
          >
        </div>
        <p class="website__rights">&copy; 2023. All rights reserved</p>
        <div class="social__icons">
          <a href="/" class="social__icon--link" target="_blank">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="/" class="social__icon--link" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="/" class="social__icon--link" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="/" class="social__icon--link" target="_blank">
            <i class="fab fa-youtube"></i>
          </a>
          <a href="/" class="social__icon--link" target="_blank">
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
      </div>
    </div>

    <script src="../js/app.js"></script>
  </body>
</html>
