<!DOCTYPE html>
<html>
  <head>
    <title>Services - My Gym</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../style/index.css" />
    <script
      src="https://kit.fontawesome.com/b9236ae426.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar__container">
        <a href="/" id="navbar__logo"><i class="fas fa-dumbbell"></i>My Gym</a>
        <div class="navbar__toggle" id="mobile-menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <ul class="navbar__menu">
          <li class="navbar__item">
            <a href="../index.html" class="navbar__links">Home</a>
          </li>
          <li class="navbar__item">
            <a href="about_us.html" class="navbar__links">About</a>
          </li>
          <li class="navbar__item">
            <a href="services.html" class="navbar__links">Services</a>
          </li>
          <li class="navbar__item">
            <a href="pricing.html" class="navbar__links">pricing</a>
          </li>
          <li class="navbar__item">
            <a href="contact_us.html" class="navbar__links">contact</a>
          </li>
          <li class="navbar__btn">
            <a href="sign_up.html" class="button">sign up</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="services">
      <h2>Our Services</h2>
      <div class="service">
        <h3>Personal Training</h3>
        <div class="flex-container">
          <div class="flex-item">
            <img
              src="../image/personal_trainer1 (2).jpg"
              alt="pic"
              width="400"
              height="auto"
            />
          </div>
          <div class="flex-item">
            <img
              src="../image/personal_trainer2.jpg"
              alt="pic"
              width="400"
              height="auto"
            />
          </div>
          <div class="flex-item">
            <img
              src="../image/personal_trainer3.jpg"
              alt="pic"
              width="400"
              height="auto"
            />
          </div>
          <div class="flex-item">
            <img
              src="../image/personal_trainer4.jpg"
              alt="pic"
              width="400"
              height="auto"
            />
          </div>
        </div>
        <p>
          Our certified personal trainers will help you develop a customized
          workout plan and provide one-on-one coaching and support to help you
          reach your goals.
        </p>
      </div>
      <hr />
      <div class="service">
        <h3>Group Classes</h3>
        <div class="flex-container">
          <div class="flex-item">
            <img
              src="../image/group_gym1.jpg"
              alt="pic"
              width="400"
              height="auto"
            />
          </div>
          <div class="flex-item">
            <img
              src="../image/group_gym2.jpg"
              alt="pic"
              width="400"
              height="auto"
            />
          </div>
          <div class="flex-item">
            <img
              src="../image/group_gym3.jpg"
              alt="pic"
              width="400"
              height="auto"
            />
          </div>
          <div class="flex-item">
            <img
              src="../image/group_gym4.jpg"
              alt="pic"
              width="400"
              height="auto"
            />
          </div>
        </div>
        <p>
          We offer a variety of group fitness classes, including yoga, spin, and
          HIIT, led by experienced instructors to help you stay motivated and
          have fun while you work out.
        </p>
      </div>
      <hr />
      <div class="service">
        <h3>Equipment</h3>
        <div class="flex-container">
          <div class="flex-item">
            <img
              src="../image/gym_equipments1.jpg"
              alt="pic"
              width="400"
              height="auto"
            />
          </div>
          <div class="flex-item">
            <img
              src="../image/gym_equipments2.jpg"
              alt="pic"
              width="400"
              height="auto"
            />
          </div>
          <div class="flex-item">
            <img
              src="../image/gym_equipments3.jpg"
              alt="pic"
              width="400"
              height="auto"
            />
          </div>
          <div class="flex-item">
            <img
              src="../image/gym_equipments4.jpg"
              alt="pic"
              width="400"
              height="auto"
            />
          </div>
        </div>
        <p>
          Our gym features state-of-the-art equipment from top brands like Life
          Fitness and Hammer Strength, so you can get a full-body workout no
          matter what your fitness level or goals.
        </p>
      </div>
    </div>
    <hr />

    <!-- footer section -->
    <div class="footer__container">
      <div class="footer__links">
        <div class="footer__link--wrapper">
          <div class="footer__link--items">
            <h2>About</h2>
            <a href="/">Gym</a>
            <a href="/">Diet</a>
            <a href="/">Investments</a>
            <a href="/">Need an instructor</a>
          </div>
          <div class="footer__link--items">
            <h2>Support</h2>
            <a href="/">Comment</a>
            <a href="/">Donate</a>
            <a href="/">Advertise</a>
            <a href="/">Sponsorships</a>
          </div>
        </div>
        <div class="footer__link--wrapper">
          <div class="footer__link--items">
            <h2>Become</h2>
            <a href="/">developer</a>
            <a href="/">Ambassador</a>
            <a href="/">Agency</a>
            <a href="/">Influencer</a>
          </div>
          <div class="footer__link--items">
            <h2>Contact</h2>
            <a href="/">Instagram</a>
            <a href="/">Facebook</a>
            <a href="/">Youtube</a>
            <a href="/">Twitter</a>
          </div>
        </div>
      </div>
    </div>
    <div class="social__media">
      <div class="social__media--wrap">
        <div class="footer__logo">
          <a href="/" id="footer__logo"
            ><i class="fas fa-dumbbell"></i>My Gym</a
          >
        </div>
        <p class="website__rights">&copy; 2023. All rights reserved</p>
        <div class="social__icons">
          <a href="/" class="social__icon--link" target="_blank">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="/" class="social__icon--link" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="/" class="social__icon--link" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="/" class="social__icon--link" target="_blank">
            <i class="fab fa-youtube"></i>
          </a>
          <a href="/" class="social__icon--link" target="_blank">
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
      </div>
    </div>

    <script src="../js/app.js"></script>
  </body>
</html>
